body {
    background-color: #151515;
}

.lonelynights {
}

.lonelynights .seperator {
    padding: 0px;
    margin: 0px;
    height: 0px;
    border-top: 1px solid #090909;
    border-bottom: 1px solid #1f1f1f;
}

